<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlickrViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>664C6FB41C7C71C900F884AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664C6FC81C7C71C900F884AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664C6FD31C7C71C900F884AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
